In [1]:
import requests
import pandas as pd
import numpy as np
from config import settings

d:\Mini_Conda\envs\finance\Lib\site-packages\pydantic\_internal\_fields.py:149: UserWarning: Field "model_directory" has conflict with protected namespace "model_".

You may be able to resolve this warning by setting `model_config['protected_namespaces'] = ('settings_',)`.
  warnings.warn(

In [2]:
addr = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=IBM&apikey=demo"

url = (
    "https://www.alphavantage.co/query?"
    "function=TIME_SERIES_DAILY&"
    "symbol=IBM&"
    f"apikey={settings.alpha_api_key}"
)

In [3]:
ticker = "AMBUJACEM.BSE"
output_size = "compact"
data_type = "json"

url = (
    "https://www.alphavantage.co/query?"
    "function=TIME_SERIES_DAILY&"
    f"symbol={ticker}&"
    f"outputsize={output_size}&"
    f"datatype={data_type}&"
    f"apikey={settings.alpha_api_key}"
)

In [4]:
response = requests.get(url=url)
response

In [5]:
print(response.text[:200])

{
    "Meta Data": {
        "1. Information": "Daily Prices (open, high, low, close) and Volumes",
        "2. Symbol": "AMBUJACEM.BSE",
        "3. Last Refreshed": "2023-12-29",
        "4. Output

In [6]:
response_data = response.json()

In [7]:
stock_data = response_data["Time Series (Daily)"]

In [8]:
stock_data['2023-10-18']

{'1. open': '441.2000',
 '2. high': '444.1500',
 '3. low': '431.5000',
 '4. close': '433.0500',
 '5. volume': '35889'}

In [9]:
df_ambuja = pd.DataFrame.from_dict(stock_data, orient='index')
df_ambuja

             1. open   2. high    3. low  4. close 5. volume
2023-12-29  511.5500  522.3000  511.3000  520.9500    179989
2023-12-28  517.3500  519.7500  512.2000  514.2500     69935
2023-12-27  520.0500  523.0000  513.2500  516.4000    218846
2023-12-26  503.8000  508.5000  502.9500  505.1500    114257
2023-12-22  505.6500  509.4500  498.2000  503.8000     85760
...              ...       ...       ...       ...       ...
2023-08-09  464.2500  466.6500  460.7000  462.9000     60893
2023-08-08  473.0500  476.0000  456.5500  466.0000    163483
2023-08-07  472.2500  476.0000  468.8500  474.0000     80191
2023-08-04  474.2500  477.3500  470.4000  471.6000    115736
2023-08-03  464.2500  480.9000  458.6000  474.2000    787931

[100 rows x 5 columns]

In [10]:
df_ambuja.index = pd.to_datetime(df_ambuja.index)
df_ambuja.index.name = "date"
df_ambuja.columns = [c.split(" ")[1] for c in df_ambuja.columns]

In [11]:
df_ambuja

                open      high       low     close  volume
date
2023-12-29  511.5500  522.3000  511.3000  520.9500  179989
2023-12-28  517.3500  519.7500  512.2000  514.2500   69935
2023-12-27  520.0500  523.0000  513.2500  516.4000  218846
2023-12-26  503.8000  508.5000  502.9500  505.1500  114257
2023-12-22  505.6500  509.4500  498.2000  503.8000   85760
...              ...       ...       ...       ...     ...
2023-08-09  464.2500  466.6500  460.7000  462.9000   60893
2023-08-08  473.0500  476.0000  456.5500  466.0000  163483
2023-08-07  472.2500  476.0000  468.8500  474.0000   80191
2023-08-04  474.2500  477.3500  470.4000  471.6000  115736
2023-08-03  464.2500  480.9000  458.6000  474.2000  787931

[100 rows x 5 columns]

In [12]:
def get_daily(ticker, output_size="full"):
    # Create URL
    url = (
        "https://www.alphavantage.co/query?"
        "function=TIME_SERIES_DAILY&"
        f"symbol={ticker}&"
        f"outputsize={output_size}&"
        f"datatype=json&"
        f"apikey={settings.alpha_api_key}"
    )

    # Send requests to API
    response = requests.get(url=url)

    # Extract JSON data from response
    response_data = response.json()
    if "Time Series (Daily)" not in response_data.keys():
        raise Exception(
            f"Invalid API call. Check that ticker symbol '{ticker}' is correct."
        )

    # Read data into DataFrame
    stock_data = response_data["Time Series (Daily)"]
    df = pd.DataFrame.from_dict(stock_data, orient="index")
    df.index = pd.to_datetime(df.index)
    df.index.name = "date"
    df.columns = [c.split(" ")[1] for c in df.columns]

    return df

In [13]:
df_ambuja = get_daily(ticker="AMBUJACEM.BSE")
df_ambuja

                open      high       low     close   volume
date
2023-12-29  511.5500  522.3000  511.3000  520.9500   179989
2023-12-28  517.3500  519.7500  512.2000  514.2500    69935
2023-12-27  520.0500  523.0000  513.2500  516.4000   218846
2023-12-26  503.8000  508.5000  502.9500  505.1500   114257
2023-12-22  505.6500  509.4500  498.2000  503.8000    85760
...              ...       ...       ...       ...      ...
2005-01-07  420.0001  428.5001  418.0001  426.3001  2330736
2005-01-06  426.0001  431.0001  412.0001  416.0501  3103853
2005-01-05  427.0001  439.9001  406.1501  425.9501  3537669
2005-01-04  410.0001  429.0001  409.0001  425.8501  2501549
2005-01-03  405.0001  409.5001  403.1001  407.6001  1061050

[4679 rows x 5 columns]