In [1]:
from pandas_datareader import data as pdr
import pandas_datareader as web
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf
yf.pdr_override()

In [2]:
vix = web.DataReader("VIXCLS", 'fred', start= "1970-01-01")
gold_vix = web.DataReader("GVZCLS", 'fred', start= "1970-01-01")
oil_vix = web.DataReader("OVXCLS", 'fred', start= "1970-01-01")
rus_vix = web.DataReader("RVXCLS", 'fred', start= "1970-01-01")
nq_vix = web.DataReader("VXNCLS", 'fred', start= "1970-01-01")

In [3]:
vix_df = pd.concat([vix,gold_vix,oil_vix,rus_vix,nq_vix], axis=1)

In [4]:
vix_df

            VIXCLS  GVZCLS  OVXCLS  RVXCLS  VXNCLS
DATE
1990-01-02   17.24     NaN     NaN     NaN     NaN
1990-01-03   18.19     NaN     NaN     NaN     NaN
1990-01-04   19.22     NaN     NaN     NaN     NaN
1990-01-05   20.11     NaN     NaN     NaN     NaN
1990-01-08   20.26     NaN     NaN     NaN     NaN
...            ...     ...     ...     ...     ...
2023-12-08   12.35   14.14   36.24   20.26   15.94
2023-12-11   12.63   13.99   35.30   20.74   16.27
2023-12-12   12.07   12.82   36.38   19.42   15.38
2023-12-13   12.19   13.67   36.60   19.82   15.35
2023-12-14   12.48   13.96   33.98   21.19   15.42

[8859 rows x 5 columns]

In [5]:
decile = np.linspace(0.1, 1.0, num=10)
vix_df.quantile(decile)

     VIXCLS  GVZCLS   OVXCLS  RVXCLS  VXNCLS
0.1  12.070  11.730   24.011   16.33  14.803
0.2  13.250  13.540   27.810   17.69  16.270
0.3  14.650  15.179   30.549   18.90  17.610
0.4  16.180  16.190   33.024   20.27  19.290
0.5  17.780  17.310   35.465   21.93  21.280
0.6  19.720  18.500   38.606   23.89  23.966
0.7  21.770  20.031   42.090   26.28  27.022
0.8  24.440  22.090   46.554   30.02  31.160
0.9  28.876  26.192   53.649   35.43  41.990
1.0  82.690  64.530  325.150   87.62  80.640

In [11]:
# vix df without extreme values
vix_df_average = vix_df[vix_df < vix_df.quantile(decile).loc[0.9]]
vix_df_average.mean()

VIXCLS    17.674528
GVZCLS    16.911783
OVXCLS    34.715187
RVXCLS    22.170956
VXNCLS    21.934431
dtype: float64

In [12]:
vix_df_average.quantile(decile)

     VIXCLS  GVZCLS  OVXCLS  RVXCLS  VXNCLS
0.1  11.967  11.570  23.240  16.170  14.636
0.2  13.020  13.122  27.320  17.420  15.970
0.3  14.180  14.850  29.790  18.501  17.218
0.4  15.590  15.790  32.120  19.698  18.580
0.5  16.910  16.715  34.030  21.150  20.170
0.6  18.552  17.770  36.590  22.630  22.130
0.7  20.320  18.970  39.500  24.539  24.854
0.8  22.280  20.300  42.900  27.086  27.688
0.9  24.790  22.389  46.908  30.280  31.658
1.0  28.870  26.150  53.640  35.420  41.980